<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/static/helloworld/img/walrus2.ico">
    <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

    <title>Data Walrus - Blog </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/helloworld/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/helloworld/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<div class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <img class="img-brand" src="static/helloworld/img/walrus_edit.png" width="50px" height="50px">
	      <a class="navbar-brand" href="index.html">Data Walrus</a>
	    </div>
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
		<!-- <li><a href="work.html">Work</a></li> -->
		<li><a href="index.html">Blog</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="services.html">Services</a></li>
		<li><a href="contact.html">Contact</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>
    {% block body %}{% endblock %}

<div id="footer">
	<div class="container">
		<div class="row">
<!-- 			<div class="col-lg-4">
				<h4>My Bunker</h4>
				<p>
					Some Address 987,<br/>
					+34 9054 5455, <br/>
					Madrid, Spain.
				</p>
			</div> -->
			
			<div class="col-lg-4">
				<!-- <h4>My Links</h4> -->
				<p>
					<!-- <a href="https://github.com/thedatawalrus/thedatawalrus.github.io">Github</a><br/>
					<a href="https://twitter.com/data_walrus">Twitter</a><br/> -->
					<a href="https://github.com/thedatawalrus/thedatawalrus.github.io">
						<img src="static/helloworld/img/github-icon.png" alt="" width="40px" height="40px" hspace="3">
					</a>
					<a href="https://twitter.com/data_walrus">
						<img src="static/helloworld/img/Twitterbird.png" alt="" width="40px" height="40px" hspace="3">
					</a>
					<a href="mailto:datawalrus@gmail.com">
						<img src="static/helloworld/img/email-circle.png" alt="" width="40px" height="40px" hspace="3">
					</a>
					<!-- <a href="#">Facebook</a> -->
				</p>
			</div><!-- /col-lg-4 -->
			<div class="col-lg-4">
				<h4></h4>
				<p>
				</p>
			</div>
			
			<div class="col-lg-4">
				<h4>What is Data Walrus?</h4>
				<p>Putting together interesting visualizations using multiple data tools!</p>
			</div>
		
		</div>
	
	</div>
</div>
  </body>
</html>
